.asteriskField {
    display: none;
}


#example {
    padding-top: 1em;
}

#example_cards {
    padding-top: 2em;
    border-radius: .2em;
}

#content {
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;

}

.action-text-unmute {
    font-weight: bold;
}

.action-text-unban {
    font-weight: bold;
}

.action-text-note {
    font-weight: bold;
}

.action-text-warn {
    font-weight: bold;
}

.action-text-mute {
    font-weight: bold;
}

.action-text-kick {
    font-weight: bold;
}

.action-text-softban {
    font-weight: bold;
}

.action-text-ban {
    font-weight: bold;
}



.action-text-unban {
    color: green;
}

.action-text-unmute {
    color: darkgreen;
}

.action-text-note {
    color: grey;
}

.action-text-warn {
    color: orange;
}

.action-text-kick {
    color: orangered;
}

.action-text-mute {
    color: rebeccapurple;
}

.action-text-softban {
    color: red;
}

.action-text-ban {
    color: darkred;
}


.pardonned {
    background: rgb(194,38,38);
    background: linear-gradient(45deg, rgba(194,38,38,0.5) 0%, rgba(194,38,38,0.5) 24%, rgba(233,47,47,0.5) 25%, rgba(233,47,47,0.5) 49%, rgba(194,38,38,0.5) 50%, rgba(194,38,38,0.5) 75%, rgba(233,47,47,0.5) 75%, rgba(233,47,47,0.5) 100%);
    background-size: 56px 56px;
}