
body {
    background-color: #f2f2f2;
}

.lead, h1{
    color: #333333;
}

#example_cards {
    border: 1px solid #cccccc;
}

.action-text-unban {
    color: green;
}

.action-text-note {
    color: grey;
}

.action-text-warn {
    color: orange;
}

.action-text-kick {
    color: orangered;
}

.action-text-softban {
    color: red;
}

.action-text-ban {
    color: darkred;
}

