{% extends 'base.html' %}
{% load tags %}

{% block head %}
    <meta property="og:title"
          content="{{ guild.discord_name }}"/>
    <meta property="og:description"
          content="Overview of the actions given on {{ guild.discord_name }}"/>
    <meta property="og:site_name"
          content="GetBeaned"/>
    <meta property="og:type"
          content="article"/>
    <meta property="og:image"
          content="{{ guild.discord_icon_url }}"/>
    <meta property="og:image:alt"
          content="Icon URL of the guild"/>
    <meta property="article:modified_time"
          content="{{ guild.actions.last.timestamp }}"/>
    <meta property="article:author"
          content="{{ guild.owner.discord_name }}"/>
    <meta property="article:tag"
          content="guild"/>
{% endblock %}

{% block title %}
    {{ guild.discord_name }} on GetBeaned
{% endblock %}

{% block content %}
    <h1>{{ guild.discord_name }}</h1>
    {% if user|can_edit:guild %}
        <h2>Server settings</h2>
        You can edit your server settings by clicking on
        <a href="{% url 'web-guild-edit-details' guild_id=guild.discord_id %}">this link</a>
        <br>

    {% endif %}

    {% if user.is_staff %}
        <h2>Admin</h2>
        <a href="{{ guild.admin_url }}">Edit this discord guild on the admin interface here</a> and
        <a href="{{ guild.settings.admin_url }}">this guild settings here</a>
    {% endif %}

    <h2>Guild details</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>Discord ID:</td>
            <td>{{ guild.discord_id }} <i class="far fa-copy"
                                          data-toggle="tooltip"
                                          data-placement="auto"
                                          title="Copy the ID to your clipboard"
                                          onclick="copyTextToClipboard('{{ guild.discord_id }}');

                                                  $(this).attr('title', 'Copied!')
                                                  .tooltip('_fixTitle')
                                                  .tooltip('show')
                                                  .attr('title', 'Copy the ID to your clipboard')
                                                  .tooltip('_fixTitle');">
            </i>
            </td>
        </tr>
        <tr>
            <td>Owner</td>
            <td><a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=guild.owner_id %}">{{ guild.owner }}</a> <i class="far fa-copy"
                                                                                                                                 data-toggle="tooltip"
                                                                                                                                 data-placement="auto"
                                                                                                                                 title="Copy the ID to your clipboard"
                                                                                                                                 onclick="copyTextToClipboard('{{ guild.owner_id }}');

                                                                                                                                         $(this).attr('title', 'Copied!')
                                                                                                                                         .tooltip('_fixTitle')
                                                                                                                                         .tooltip('show')
                                                                                                                                         .attr('title', 'Copy the ID to your clipboard')
                                                                                                                                         .tooltip('_fixTitle');">
            </i></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{ guild.discord_created_at }}</td>
        </tr>
        <tr>
            <td>Users</td>
            <td>{{ guild.discord_user_count }}</td>
        </tr>
        <tr>
            <td>Automod Enabled</td>
            <td>{% if guild.settings.automod_enable %}
                    <a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=1 %}">Yes</a>
                {% else %}
                    No
                {% endif %}</td>
        </tr>
        <tr>
            <td>AutoTriggers Enabled</td>
            <td>
                {% if guild.settings.autotrigger_enable %}
                    <a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=1 %}">Yes</a>
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>AutoInspect Enabled</td>
            <td>
                {% if guild.settings.autoinspect_enable %}
                    <a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=4 %}">Yes</a>
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Thresholds Enabled</td>
            <td>
                {% if guild.settings.thresholds_enable %}
                    <a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=2 %}">Yes</a>
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>DeHoister Enabled</td>
            <td>
                {% if guild.settings.dehoist_enable %}
                    <a href="{% url 'web-user-details' guild_id=guild.discord_id user_id=3 %}">Yes</a>
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Actions recorded on this server</h2>
    {% if actions %}
        Actions recorded as of now:

        <div class="container-fluid">
            <div class="row">
                {% for action in actions %}
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        {% show_card user action %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if actions.has_other_pages %}
            <ul class="pagination">
                {% if actions.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page=1">First</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ actions.previous_page_number }}">{{ actions.previous_page_number }}</a>
                    </li>

                {% endif %}

                <li class="page-item active">
                    <a class="page-link"
                       href="#">{{ actions.number }}<span class="sr-only">(current)</span></a>
                </li>


                {% if actions.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ actions.next_page_number }}">{{ actions.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ actions.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        No actions were recorded on this guild... Yet! (Or you don't have access to any of them... Are you logged in ?)<br/>
    {% endif %}


{% endblock %}