{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    GetBeaned Statistics - How is the bot used ?
{% endblock %}

{% block head %}
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/export-data.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/offline-exporting.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/full-screen.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/funnel.js' %}"></script>
    <script src="{% static 'js/highcharts/modules/draggable-points.js' %}"></script>

    {% if discord_logged_user and discord_logged_user.settings.theme in dark_themes %}
        <script src="{% static 'js/highcharts/dark-unica.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>GetBeaned Statistics</h1>

    <style>
    h2{
       text-align: center;
    }
    </style>

    <script>
        Highcharts.setOptions({
            credits: {
                enabled: false,
            }
        });
    </script>

    <p class="lead">
        Currently storing {{ general_stats.actions_count }} actions, for {{ general_stats.users_count }} users
        on {{ general_stats.guilds_count }} different servers.
        Over all the servers overseen by the bot, {{ general_stats.automod_enabled_count }} have automod enabled ({{ general_stats.autotrigger_enabled_count }} with AutoTriggers)
        and
        {{ general_stats.thresholds_enabled_count }} have thresholds enabled.
    </p>

    <h2>Servers and users</h2>
        <div id="graph_servers_member_count">
    </div>

    <script>
        Highcharts.chart('graph_servers_member_count', {
            chart: {
                type: 'packedbubble',
                height: '50%',
                zoomType: 'xy'

            },
            title: {
                text: 'Biggest servers using the bot'
            },
            subtitle: {
                text: 'Click on a server to go to it\'s page'
            },
            tooltip: {
                useHTML: true,
                pointFormat: '<b>{point.name}:</b> {point.y} members'
            },
            plotOptions: {
                packedbubble: {
                    events: {
                        click: function(e){
                            window.location.href = '/guilds/' + e.point.guild_id + '#' + e.point.name;
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}',
                        filter: {
                            property: 'y',
                            operator: '>',
                            value: 1000
                        },
                        style: {
                            color: 'black',
                            textOutline: 'none',
                            fontWeight: 'normal'
                        },
                    },
                }
            },
            series: [{
                name: 'AutoMod enabled',
                data: {{ graph_servers_member_count_data.automod|safe }},
                color: "rgba(55,255,106,0.5)"
            }, {
                name: 'AutoMod disabled',
                data: {{ graph_servers_member_count_data.notautomod|safe }},
                color: "rgba(255,68,61,0.5)"
            },
            ]
        });
    </script>

    <h2>Moderator actions</h2>

    <div id="graph_actions_time"></div>
    <div id="graph_actions_time_am"></div>
    <div id="graph_moderators"></div>
    <script>
        Highcharts.chart('graph_actions_time', {
            chart: {
                type: 'column'
            },

            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },

            title: {
                text: 'Count of actions made at a certain hour (excluding AutoModerator)'
            },

            subtitle: {
                text: 'TimeZone: UTC'
            },

            xAxis: {
                categories: {{ graph_actions_time_y }},
                title: {
                    text: 'Hour'
                }
            },

            yAxis: {
                title: {
                    text: 'Count'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },

            tooltip: {
                shared: true
            },

            series: [{
                name: 'Bans',
                data: {{ graph_actions_time_x.ban }},
                color: 'darkred'
            }, {
                name: 'SoftBans',
                data: {{ graph_actions_time_x.softban }},
                color: 'red'
            }, {
                name: 'Kicks',
                data: {{ graph_actions_time_x.kick }},
                color: 'orangered'
            }, {
                name: 'Mutes',
                data: {{ graph_actions_time_x.mute }},
                color: 'rebeccapurple'
            }, {
                name: 'Warns',
                data: {{ graph_actions_time_x.warn }},
                color: 'orange'
            }, {
                name: 'Notes',
                data: {{ graph_actions_time_x.note }},
                color: 'grey'
            }, {
                name: 'Unmutes',
                data: {{ graph_actions_time_x.unmute }},
                color: 'darkgreen'
            }, {
                name: 'Unbans',
                data: {{ graph_actions_time_x.unban }},
                color: 'green'
            }
            ]
        });

        Highcharts.chart('graph_actions_time_am', {
            chart: {
                type: 'column'
            },

            title: {
                text: 'Count of AutoModerator actions made at a certain hour'
            },
            subtitle: {
                text: 'TimeZone: UTC'
            },
            xAxis: {
                categories: {{ graph_actions_time_y }},
                title: {
                    text: 'Hour'
                }
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [{
                name: 'Bans',
                data: {{ graph_actions_time_am_x.ban }},
                color: 'darkred'
            }, {
                name: 'Kicks',
                data: {{ graph_actions_time_am_x.kick }},
                color: 'orangered'
            }, {
                name: 'Mutes',
                data: {{ graph_actions_time_am_x.mute }},
                color: 'rebeccapurple'
            }, {
                name: 'Warns',
                data: {{ graph_actions_time_am_x.warn }},
                color: 'orange'
            }, {
                name: 'Notes',
                data: {{ graph_actions_time_am_x.note }},
                color: 'grey',
                visible: false
            }
            ]
        });

        Highcharts.chart('graph_moderators', {
            title: {
                text: 'Proportion of human moderators actions saved'
            },

            subtitle: {
                text: ''
            },

            series: [{
                type: 'pie',
                data: {{ graph_moderators_data|safe }}

            }]

        });
    </script>


{% endblock %}